﻿
html
  head
    script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false')
    script(type='text/javascript', src='http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js')
    script(type='text/javascript')
      function initialize() {
      var loc, map, marker, infobox;
      loc = new google.maps.LatLng(-33.890542, 151.274856);
      map = new google.maps.Map(document.getElementById("map"), {
      zoom: 12,
      center: loc,
      mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      marker = new google.maps.Marker({
      map: map,
      position: loc,
      visible: true
      });
      infobox = new InfoBox({
      content: document.getElementById("infobox"),
      disableAutoPan: false,
      maxWidth: 150,
      pixelOffset: new google.maps.Size(-140, 0),
      zIndex: null,
      boxStyle: {
      background: "url('http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/examples/tipbox.gif') no-repeat",
      opacity: 0.75,
      width: "280px"
      },
      closeBoxMargin: "12px 4px 2px 2px",
      closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif",
      infoBoxClearance: new google.maps.Size(1, 1)
      });
      google.maps.event.addListener(marker, 'click', function() {
      infobox.open(map, this);
      map.panTo(loc);
      });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    title Creating and Using an InfoBox
  body
    #map(style='width: 100%; height: 300px;')
    br
    | InfoBox as an easily customizable replacement for an InfoWindow. Click on the marker to see the infobox generated with custom html & css.
    .infobox-wrapper
      #infobox
        | The contents of your info box. It's very easy to create and customize.
