﻿doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel = 'stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    style.
        html,body,#map-canvas{
        height:100%;
        margin:0px;
        padding:0px
        }
    link(rel = 'stylesheet', href = '/stylesheets/infobox.css')
    script(src = '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src = 'https://maps.googleapis.com/maps/api/js?key=' + '#{key}')
    script(type='text/javascript', src='http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js')


  body
    block pageTitle
    block pageContent