﻿extends layout

block pageTitle
   .well
        h1 Az News

block pageContent
    div(id = "map-canvas")

    .infobox-wrapper
      #infobox
        h3#country
        h6#title
        h6#snip
        h6#url
        h6#date
        span#backwards(class = "glyphicon glyphicon-chevron-left")
        span#forwards(class = "glyphicon glyphicon-chevron-right")



    script(src = '/javascripts/jquery-2.1.1.min.js')
    script(src = '/javascripts/maps.js')